/*dark background to support form theme*/
body {
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png);
}

/*sass variables used*/
/*site container*/
.formulario {
  width: 420px;
  margin: 0 auto;
}



p {
  font-size: 20px Open Sans;
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}

.form {
  width: 100%;
}

input[type=text],
input[type=fullname],
input[type=email],
input[type=password] {
  width: 98%;
  padding: 15px 0px 15px 8px;
  border-radius: 5px;
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  border: 1px solid black;
  margin-bottom: 10px;
  color: #6e6e6e;
  text-shadow: #000 0px 1px 5px;
}

input[type=submit] {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 15px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28d2de), to(#1a878f));
  background-image: -webkit-linear-gradient(#28d2de 0%, #1a878f 100%);
  background-image: -moz-linear-gradient(#28d2de 0%, #1a878f 100%);
  background-image: -o-linear-gradient(#28d2de 0%, #1a878f 100%);
  background-image: linear-gradient(#28d2de 0%, #1a878f 100%);
  font: 20px Oswald;
  color: #fff;
  text-transform: uppercase;
  text-shadow: #000 0px 1px 5px;
  border: 1px solid #000;
  
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

a.boton{
  width: 25%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28d2de), to(#1a878f));
  background-image: -webkit-linear-gradient(#28d2de 0%, #1a878f 100%);
  background-image: -moz-linear-gradient(#28d2de 0%, #1a878f 100%);
  background-image: -o-linear-gradient(#28d2de 0%, #1a878f 100%);
  background-image: linear-gradient(#28d2de 0%, #1a878f 100%);
  font: 14px Oswald;
  color: #fff;
  text-transform: uppercase;
  text-shadow: #000 0px 1px 5px;
  border: 1px solid #000;
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}
a.enlaceb{
  width: 25%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#48e968), to(#3ce152));
  background-image: -webkit-linear-gradient(#6ade64 0%, #75e54f 100%);
  background-image: -moz-linear-gradient(#5fe764 0%, #47d167 100%);
  background-image: -o-linear-gradient(#59f660 0%, #40e34d 100%);
  background-image: linear-gradient(#59e94c 0%, #50e639 100%);
  font: 14px Oswald;
  color: #fff;
  text-transform: uppercase;
  text-shadow: #000 0px 1px 5px;
  border: 1px solid #000;
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}
td{
  padding: 10px;
}

table {
  margin:0 auto;
}

 th{
    background-color: #1a878f;
    padding: 5px;
 }

input:focus {
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.7), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -ms-transition: 1s ease;
  transition: 1s ease;
}

input[type=submit]:hover {
  opacity: 1;
  cursor: pointer;
}

.name-help,
.password-help {
  display: none;
  padding: 0px;
  margin: 0px 0px 15px 0px;
}

.optimize {
  position: fixed;
  right: 3%;
  top: 0px;
}

img.dolar{
width: 200px;
height: 200px;
margin: 0 auto;
margin-left: 100px;
}

h1 {
  margin: 0 auto;
  font: 25px;
  margin-bottom: 12px;
  margin-left: 25px;
}

.volver{
  margin: 0 auto;
   width: 5%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e14216), to(#b63a11));
  background-image: -webkit-linear-gradient(#eb4b2f 0%, #d52121 100%);
  background-image: -moz-linear-gradient(#de4628 0%, #e34c2d 100%);
  background-image: -o-linear-gradient(#de3128 0%, #a81d1d 100%);
  background-image: linear-gradient(#de3d28 0%, #ca2f1a 100%);
  font: 14px Oswald;
  color: #fff;
  text-transform: uppercase;
  text-shadow: #000 0px 1px 5px;
  border: 1px solid #000;
  opacity: 0.7;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}
